# Ignore secrets
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore vector DB (VERY IMPORTANT)
resources/vectorstore/

# Ignore uploaded files
resources/uploads/

# Mac
.DS_Store

# Virtual environments (optional but good)
venv/
.venv/